body {
  background-color: #5f7534;
  margin: 0;
  padding: 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: -2rem;
}

.grid .calculadora {
  font-family: "Chau Philomene One", sans-serif;
  color: #fbb03b;
  box-sizing: border-box;
  display: flex;
  font-size: 2rem;
  margin-top: 14rem;
  margin-left: -8rem;
}

main {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding: 20px;
  box-sizing: border-box;
}

.logo {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 300px;
  margin-left: 22rem;
  margin-top: 1rem;
}

.descricao {
  font-family: "Inter", sans-serif;
  color: white;
  font-weight: 800;
  width: 50%;
  margin-bottom: 1.5rem;
  margin-left: 25rem;
  margin-top: 3rem;
  text-align: center;
}

.problemas {
  margin-left: 1rem;
  text-align: center;
}

.desnutricao {
  margin-left: 0;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  background: #fbb03b;
  width: 90%;
  max-width: 400px;
  height: auto;
  padding: 20px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
  box-shadow: 0 0 10px black;
  box-sizing: border-box;
}

.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-bottom: 1rem;
  font-family: "Chau Philomene One", sans-serif;
}

.input {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.input input {
  width: 100%;
  max-width: 200px;
  height: 50px;
  border-radius: 5px;
  margin-bottom: 1rem;
  border: none;
  outline: 0;
  font: bold 1rem serif;
  text-align: center;
}

.input label {
  font: bold 1rem serif;
  margin-right: 10px;
}

button {
  width: 100%;
  height: 40px;
  font: bold 1.2rem serif;
  background: #000;
  color: rgb(255, 198, 0);
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.result {
  display: flex;
  margin-top: 20px;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 20px;
  border-radius: 5px;
  font: italic 1.5rem serif;
  box-shadow: 0px 0px 10px black;
  background: #000;
  color: rgb(255, 198, 0);
  box-sizing: border-box;
}

.imgButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgLink {
  margin-left: 10rem;
  width: 80%;
  padding-top: 0;
}

/* Responsividade para tablets */
@media (max-width: 1024px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .grid .calculadora {
    font-size: 1.8rem;
    margin-top: 8rem;
    margin-left: -4rem;
  }

  .logo {
    margin-left: 10rem;
  }

  .descricao {
    width: 80%;
    margin-left: 5rem;
    font-size: 1.2rem;
  }

  .imgLink {
    margin-left: 5rem;
  }
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .grid .calculadora {
    font-size: 2rem;
    margin-top: 4rem;
    margin-left: 8rem;
    padding-top: 10rem;

    
  }

  .logo {
    margin-left: 0;
    margin-top: 1rem;
    max-width: 250px;
    padding-top: 3rem;
   
  }
  
  .descricao {
    width: 100%;
    margin-left: 0;
    font-size: 1rem;
    text-align: center;
  }

  .imgLink {
    margin-left: 0;
    width: 90%;
  }
}

@media (max-width: 480px) {
  .grid .calculadora {
    font-size: 1.2rem;
    margin-top: 1.3rem;
    margin-left: 0;
    text-align: center;
  }

  .logo {
    margin: 0 auto;
    max-width: 200px;
  }

  .descricao {
    font-size: 0.9rem;
    margin-top: 2rem;
  }

  .imgLink {
    margin: 0 auto;
    width: 100%;
  }
}
